<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create a Post</title>
  </head>
  <body>
    <form action="/posts" method="post">
      <label for="name">Name: </label>
      <input type="text" name="name">
      <label for="content">Content: </label>
      <input type="text" name="content">
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
