<h2>Post Editor Extraordinaire</h2>
<form method="POST" action="/posts/<%=@post.id%>" id="new_content">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <h4>Title:</h4>
  <p><input type="text" name="name" id="name" value="<%=@post.name%>"</p>
  <!-- <p><input type="textarea" name="content" id=content></p> -->
  <h4>Speak your mind!</h4>
  <textarea form = "new_content" rows="10" cols="40" id="content" name = "content"><%=@post.content%></textarea>
  <p><input type="submit" value="submit"></p>
</form>
