<!DOCTYPE html>


<html>
<h1>New Post:</h1>
<form method="POST" action="/posts">
<!-- <p>Name:<input id = post1 type="text" name="posts[][name]"</p> -->
<!-- <p>Content:<input id = post1 type="text" name="posts[][content]"</p> -->


<p>Name:<input type="text" name="name"</p>
<p>Content:<input type="text" name="content"</p>


<button type="submit" value="submit">Submit</button>


</form>


</html>
