<form action="/posts" method="POST">
  <h1>Welcome to Your Blog Post! Create a New Post!</h1>
  <br/>
  <p> Name of Post : <input type="text" name="name"></p>
  <p> Content of Post: <input type="text" name="content"></p>
  <button type="submit" value="submit">Submit</button>





</form>
