<!DOCTYPE html>

<h1>New Post</h1>

<form action='/posts' method="post">
  Author: <input id="name" type="text" name="name">
  Content: <input id="content" type="text" name="content">

  <button id="submit" type="submit" name="submit">submit</button>
</form>
