<form action="/posts" method="POST">
  <p>
    <label for="blog_name">Blog Name: </label>
    <input type="text" name="post[:name]">
  </p>
  <p>
    <label for="blog_content">Blog Content: </label>
    <input type="textarea" name="post[:content]">
  </p>
  <input type="submit" value="submit">
</form>