<h1>Post#<%= params[:id] %> </h1>
<h2><%= @post.name %> </h2>
<h3><%= @post.content %> </h3>

<form method="POST" action="/posts/<%= @post.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
