<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blog Post</title>
</head>
<body>
	<h1>Title: <%= @post.name %></h1>
	<p>Content: <%= @post.content %></p>
	<form action="/posts/<%= @post.id%>/delete" method="post">
		<input id="hidden" type="hidden" name="_method" value="delete">
		 <input type="submit" value="delete">
	</form>
	
</body>
</html>